# Configuration file for the backend
card_site_url: https://kortladdning3.chalmerskonferens.se/

restaurants:
  - name: Kårrestaurangen
    menu_url: http://intern.chalmerskonferens.se/view/restaurant/karrestaurangen/Veckomeny.rss?today=true&locale=
    image:
    website:
    rating: 4.2
    open_hours:
      - day_of_week: 2 # 2 is monday, 1 is sunday etc. 
        start_hour: 1100
        end_hour: 1330
      - day_of_week: 3
        start_hour: 1100
        end_hour: 1330
      - day_of_week: 4
        start_hour: 1100
        end_hour: 1330
      - day_of_week: 5
        start_hour: 1100
        end_hour: 1330
      - day_of_week: 6
        start_hour: 1100
        end_hour: 1330

  - name: L's Kitchen
    menu_url:    http://intern.chalmerskonferens.se/view/restaurant/l-s-kitchen/Projektor.rss?today=true&locale=
    image:
    website:
    rating: 4.0

  - name: Linsen
    menu_url: http://intern.chalmerskonferens.se/view/restaurant/linsen/RSS%20Feed.rss?today=true&lang=
    image:  
    website:
    rating: 4.4

  - name: Express
    menu_url: http://intern.chalmerskonferens.se/view/restaurant/express/V%C3%A4nster.rss?today=true&locale=
    image:  
    website:
    rating: 3.0

  - name: Hyllan
    menu_url: http://intern.chalmerskonferens.se/view/restaurant/hyllan/RSS%20Feed.rss?today=true&locale=
    image:
    website:
    rating: 4.3